<!--
 * @Author: your name
 * @Date: 2020-09-24 19:03:34
 * @LastEditTime: 2020-10-26 00:36:44
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /resources/templates/problem.html
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>GerayOJ</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel='stylesheet' type='text/css' href='https://cdn.bootcss.com/github-markdown-css/3.0.1/github-markdown.css'>
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/highlight.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/styles/default.min.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js'></script>
    <!--    <link rel="stylesheet" href="..static/katex/katex.css">
        <script src="../static/katex/katex.js"></script>

        <script src="../static/js/markdown.js"></script>
        <script src="../static/katex/katex.mjs"></script>
        <script src="../static/bootstrap/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-theme.css">
        <link rel="stylesheet" href="../static/css/style.css">-->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.css">
    <script src="/katex/katex.js" type="text/javascript"></script>
    <script src="/js/markdown.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/katex/katex.css">

</head>

<body>
<div th:insert="header::navigation"></div>

<div class="col-md-2">
    <div style="margin-top: 20px">
        <a th:if="${preid} != -1" th:href="'/contest/'+${cid}+'/problem/'+${preid}"><button class="btn btn-default">上一题</button></a>
        <a th:href="'/contest/'+${cid}"><button class="btn btn-default">回到比赛</button></a>
        <a th:if="${sufid} != -1" th:href="'/contest/'+${cid}+'/problem/'+${sufid}"><button class="btn btn-default">下一题</button></a>
    </div>
</div>
<div class="col-md-8 problem">
    <div class="problem-head">
        <h3 style="text-align: center;font-weight: bold" th:text="${problem.getTitle()}"></h3>
    </div>
    <div class="problem-body">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#problem-content" data-toggle="tab">题目</a></li>
            <li role="presentation"><a href="#submit-content" data-toggle="tab">提交</a></li>
        </ul>
        <div class="tab-content" id="myTab">
            <div class="tab-pane fade in  problem-content  active" id="problem-content">124</div>
            <div class="tab-pane submit-content " id="submit-content">
                <div class="form-group" id="form-group-answer_answer"><label class="col-sm-2 control-label">
                    <div class="text-left">源文件:answer</div>
                </label><label class="col-sm-1 control-label" form="answer_answer_language">语言</label>
                    <div class="col-sm-2"><select id="input-answer_answer_language" name="answer_answer_language"
                                                  class="form-control input-sm">
                        <option selected="selected">C++</option>
                        <option>Python2.7</option>
                        <option>Java7</option>
                        <option>C++11</option>
                        <option>Python3</option>
                        <option>Java8</option>
                        <option>C</option>
                        <option>Pascal</option>
                    </select></div>
                    <div class="col-sm-offset-3 col-sm-2 radio tab-pane"><label><input type="radio"
                                                                                       name="answer_answer_upload_type"
                                                                                       value="editor"> 使用编辑器上传</label>
                    </div>
                    <div id="div-help-answer_answer_language" class="col-sm-12 text-warning top-buffer-sm"></div>
                    <div id="div-answer_answer_editor" class="col-sm-12">
                        <textarea class="form-control" rows="30"
                                  id="input-answer_answer_editor" name="answer_answer_editor">
                        </textarea>
                    </div>
                    <div id="div-answer_answer_file" class="col-sm-12" style="display: none;"><input type="file"
                                                                                                     id="input-answer_answer_file"
                                                                                                     name="answer_answer_file"
                                                                                                     style="display: none">
                        <div class="input-group"><input class="form-control" type="text" readonly="readonly"><span
                                class="input-group-btn"><button type="button" class="btn btn-primary"
                                                                style="width: 100px;"><span
                                class="glyphicon glyphicon-folder-open"></span>
                                    浏览</button></span></div>
                        <span class="help-block" id="help-answer_answer_file"></span>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" id="button-submit-answer" name="submit-answer" value="answer"
                            class="btn btn-default">提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="problem-tail">
    </div>
</div>
<div class="col-md-2">
</div>
</body>
<script th:inline="javascript">
    let problemContent = [[${ problem.getStatement() }]];
    markdown_text = marked(problemContent);
    console.log(markdown_text);
    let target = $("#problem-content");
    target.html(markdown_text);
    RenderKatex(target);
    $("table").each(function () {
        $(this).addClass("table");
    })
</script>

</html>