<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>GerayOJ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-theme.css}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"/>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="../static/bootstrap/css/bootstrap-theme.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"/>
    <script th:src="../static/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" th:href="../static/css/login.css">

</head>
<body>
<body role="document" style="">
<div class="container theme-showcase" role="main">

    <div class="uoj-content">
        <div class="text-center">
            <h1>2020年“美团杯”程序设计挑战赛之测试赛</h1>
            <div class="uoj-click-zan-block uoj-click-zan-block-cur-zero uoj-click-zan-block-positive" data-id="52"
                 data-type="C" data-val="0" data-cnt="132"><a href="#" class="uoj-click-zan-up"><span
                    class="glyphicon glyphicon-thumbs-up"></span>好评</a><a href="#" class="uoj-click-zan-down"><span
                    class="glyphicon glyphicon-thumbs-down"></span>差评</a><span
                    class="uoj-click-zan-cnt">[<strong>+132</strong>]</span></div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="/contest/52" role="tab">比赛主页</a></li>
                    <li><a href="/contest/52/submissions" role="tab">提交记录</a></li>
                    <li><a href="/contest/52/standings" role="tab">排行榜</a></li>
                </ul>
                <div class="top-buffer-md">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-text-center">
                            <thead>
                            <tr>
                                <th style="width:5em">#</th>
                                <th>题目</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>A</td>
                                <td><a href="/contest/52/problem/516">【美团杯2020测试赛】子序列</a></td>
                            </tr>
                            <tr>
                                <td>B</td>
                                <td><a href="/contest/52/problem/517">【美团杯2020测试赛】交互测试</a></td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td><a href="/contest/52/problem/518">【美团杯2020测试赛】系统测试</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3>比赛通知</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-vertical-middle table-text-center">
                            <thead>
                            <tr>
                                <th style="width:10em">标题</th>
                                <th>内容</th>
                                <th style="width:12em">时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>题面PDF和相关文件下载链接</td>
                                <td style="white-space:pre-wrap; text-align: left">
                                    题面PDF：https://img.uoj.ac/download/885e6b7299/statement.pdf
                                    相关文件：https://img.uoj.ac/download/885e6b7299/download.zip
                                </td>
                                <td>2020-05-15 19:30:01</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <h3>提问</h3>
                    <div>
                        <h4>我的提问</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-vertical-middle table-text-center">
                                <thead>
                                <tr>
                                    <th style="width:10em">提问者</th>
                                    <th style="width:7em">提问时间</th>
                                    <th>问题</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="233">无</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div>
                        <h4>其他人的提问</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-vertical-middle table-text-center">
                                <thead>
                                <tr>
                                    <th style="width:10em">提问者</th>
                                    <th style="width:7em">提问时间</th>
                                    <th>问题</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="233">无</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">比赛已结束</h3>
                    </div>
                </div>
                <p>此次比赛为ACM赛制。</p>
                <p><strong>封榜时间：2020-05-15 20:18:00</strong></p>

                <a href="/contest/52/registrants" class="btn btn-info btn-block">报名选手列表</a>

                <div class="panel panel-info top-buffer-lg">
                    <div class="panel-heading">
                        <h3 class="panel-title">比赛资料</h3>
                    </div>
                    <div class="list-group">
                        <a href="/blog/5524" class="list-group-item">公告</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uoj-footer">
        <p><a href="https://uoj.ac/contest/52?locale=zh-cn"><img src="//img.uoj.ac/utility/flags/24/cn.png"
                                                                 alt="中文"></a> <a
                href="https://uoj.ac/contest/52?locale=en"><img src="//img.uoj.ac/utility/flags/24/gb.png"
                                                                alt="English"></a></p>
        <ul class="list-inline">
            <li>Universal Online Judge</li>
            |
            <li><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42010202000505"
                   style="text-decoration:none;"><img src="https://uoj.ac/pictures/beian.png"> 鄂公网安备 42010202000505
                号</a></li>
        </ul>
        <p>Server time: 2020-10-29 00:05:44</p>
    </div>
</div>
<!-- /container -->


</body>
</body>
</html>