<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GerayOJ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-theme.css}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"/>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">

</head>
<body>
<div class="jumbotron">
    <h1>Sorry You loss</h1>
</div>
</body>
</html>