<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>GerayOJ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-theme.css}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"/>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">

</head>
<body>
<div th:insert="header::navigation"></div>
<div class="col-md-2"></div>
<div class="col-md-8">
        <table class="table table-striped">
            <thead>
            <tr class="row">
                <th>Pid</th>
                <th>Title</th>
                <th>Hard</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row" th:each="problem,problemStat:${problemlist}">
                <th th:text="${problem.getPid()}"></th>
                <th>
                    <a th:href="'/problem/'+${problem.getPid()}" th:text="${problem.getTitle()}"></a>
                </th>
                <th th:text="${problem.getAcNum()}+'/'+${problem.getStatuNum()}"></th>
            </tr>
            </tbody>
        </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="col-md-2"></div>
</body>
</html>