<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head>
        <meta charset="UTF-8">
        <title>GerayOJ</title>
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-theme.css}">
        <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"/>
        <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    </head>
</head>
<body>
<div th:insert="header::navigation"></div>
</div>
<div class="col-md-3">
    <button class="btn btn-primary btn-lg btn-middle">Submit</button>
    <button class="btn btn-primary btn-lg btn-middle">MySubmission</button>
    <button class="btn btn-primary btn-lg btn-middle">Star</button>
</div>
<div class="col-md-6 problem-containers">
    <iframe src="/1.html" class="problem-iframe"  ></iframe>
</div>
<div class="col-md-3">
    <div class="submission-list">
        <table class="table table-striped">
            <thead>
            <tr class="row">
                <th>SubmissionId</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row">
                <th>1</th>
                <th>Wait</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>