<!--
 * @Author: your name
 * @Date: 2020-10-12 00:06:39
 * @LastEditTime: 2020-10-12 00:30:20
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /resources/templates/study.html
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GerayOJ</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
        <div id="header">
            <div class="header">
                <div class="header-left">
                    <div>
                        <span>GerayOj</span>
                    </div>
                    <div>
                        <a href="">
                            <img src="../static/img/分类.png" alt="">
                            核心内容
                        </a>
                    </div>
                </div>
                <div class="header-right"></div>
            </div>
        </div>
    </body>
</html>